.card {
    border: 1px solid #e2e8f0;
}

.border-light-gray {
    border: 1px solid #e2e8f0;
}

.card:hover {
    border-color: #fb815e !important;
}

.border-orange {
    border-color: #fb815e;
}

.border-w2 {
    border-width: 2px;
}

.btn-outline-primary {
    background-color: #fff !important;
    color: #fb815e !important;
    border-color: #fb815e !important;
}

.btn-outline-primary:hover {
    background-color: #fb815e !important;
    color: #fff !important;
}

.doctors {
    position: relative;
    display: inline-block;
    height: 30px;
}

.doctors img:nth-of-type(1) {
    position: absolute;
    width: 30px;
    border-radius: 50%;
    right: 0px;
}

.doctors img:nth-of-type(2) {
    position: absolute;
    width: 30px;
    border-radius: 50%;
    right: 20px;
}

.doctors img:nth-of-type(3) {
    position: absolute;
    width: 30px;
    border-radius: 50%;
    right: 40px;
}

.w-70 {
    width: 70% !important;
}

.search-field button {
    background-color: transparent;
    color: #e5f2fe;
    border: none;
    outline: none;
}

.search-field input {
    padding: 12px 30px 12px 0;
}

.search-field input {
    position: relative;
    color: #3b4157;
    padding: .75rem 2rem .75rem 0;
    height: 50px;
    font-size: 100%;
}

.search-field svg {
    position: absolute;
    right: 8%;
    top: 6.7rem;
    color: #007bff;
}

.sidebar {
    overflow-y: scroll;
}

.alphabet {
    background-color: #e5f2fe;
}

.bg-ice-blue {
    background-color: #e5f2fe;
}

.categories {
    display: flex;
    flex-direction: column;
}

.categories a {
    width: max-content;
    border: 1px solid transparent;
}

.categories a:hover {
    color: #007bff !important;
    background-color: #fff;
    border-bottom: 1px dashed #007bff !important;
}

.position-sticky {
    position: sticky;
    bottom: 0;
}

.rounded-bottom-10 {
    border-radius: 0 0 10px 10px;
}

.text-water-blue {
    color: #007bff;
}

.bg-water-blue {
    background-color: #007bff;
}

.resp-container {
    max-width: 90%;
    padding: 0 5%;
    margin: auto;
}